﻿@model ASPCORE_TaskPalestra2.Models.Utente

@{
    Layout = "_Layout";
}

<h2 class="text-white text-center">Accesso Utente</h2>

<div class="row mt-4">

    <div class="col-md-4"></div>
    <div class="col-md-4">

        <form asp-controller="Home" asp-action="LoginCheck" method="post">

            <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-at"></i></span>
                </div>
                <input type="email" asp-for="Email" class="form-control" placeholder="Email">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key"></i></span>
                </div>
                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-block text-white">Accedi</button>

            <br />

            <label class="text-white">Non sei registrato? Fallo <a href="/Home/Registrazione">qui.</a></label>
        </form>
    </div>
</div>
