﻿@model List<ASPCORE_TaskPalestra2.Models.Iscrizione>

@{
    Layout = "_Layout";
}

<h2 class="text-white text-center">I miei corsi</h2>

<div class="row">

    @foreach (var item in Model)
    {
        
        <div class="col-md-4 mt-4">
            <div class="card" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.CorsoRifNavigation.Titolo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.CorsoRifNavigation.Orario</h6>
                    <a class="btn btn-block text-white btn-block redBtn" asp-controller="Home" asp-action="EliminaIscrizione" asp-route-id="@item.IscrizioneId">Annulla Iscrizione</a>
                </div>
            </div>
        </div>

    }

</div>


