﻿@model List<ASPCORE_TaskPalestra2.Models.Corso>

@{
    Layout = "_Layout";
}

<h2 class="text-white text-center">Lista Corsi</h2>

@if (ViewBag.Alert != null)
{
    <div class="row">
        <div class="alert alert-warning" role="alert">
            @ViewBag.Alert
        </div>
    </div>
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 mt-4">
            <div class="card" style="width: 19rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.Titolo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.Orario</h6>
                    <p class="card-text">@item.Descrizione</p>
                    <a class="btn btn-block text-white btn-block pinkBtn" asp-controller="Home" asp-action="IscrizioneCorso" asp-route-id="@item.CorsoId">Iscriviti</a>
                </div>
            </div>
        </div>
    }

</div>



