﻿@model ASPCORE_TaskPalestra2.Models.Utente

@{
    Layout = "_Layout";
}

<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <h2 class="text-white text-center">Registrazione Utente</h2>

        <form asp-controller="Home" asp-action="Registrazione" method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id=""><i class="fa-solid fa-user"></i></span>
                </div>
                <input type="text" asp-for="Nome" class="form-control" placeholder="Nome">
                <span asp-validation-for="Nome"></span>
                <input type="text" asp-for="Cognome" class="form-control" placeholder="Cognome">
                <span asp-validation-for="Cognome"></span>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-location-dot"></i></span>
                </div>
                <input type="text" asp-for="Indirizzo" class="form-control" placeholder="Indirizzo">
                <span asp-validation-for="Indirizzo"></span>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-calendar"></i></span>
                </div>
                <input type="date" asp-for="DataNascita" class="form-control">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-at"></i></span>
                </div>
                <input type="email" asp-for="Email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email"></span>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key"></i></span>
                </div>
                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password"></span>
            </div>

            <button type="submit" class="btn btn-block text-white pinkBtn">Registrati</button>
        </form>
    </div>
</div>