﻿body {
    height: 100vh;
    background-image: linear-gradient(rgba(218,44,182,1) 0%, rgba(150,28,190,1) 45%, rgba(0,181,255,1) 100%);
    /*no repeat*/
}

.pinkBtn {
    background: rgba(218,44,182,1) !important;
    background-size: cover;
}
.pinkBtn:hover {
    background: rgba(135,17,109,1) !important;
}

.redBtn {
    background: rgba(255,0,0,1) !important;
}
.redBtn:hover {
    background: rgba(145,2,2,1) !important;
}

/*a {
    color: rgba(218,44,182,1);
}*/