body {}

#container {
    border-radius: 15px;
    position: relative;
    top: 100px;
}

.scroll {
    height: 500px;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
  }
  
  .scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00C851;
  }

  /* #col-color {
      background-image: url("https://wallpaperaccess.com/full/2224368.png");
  } */